<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <title>Assignment-01</title>
</head>
<body>
    <section class="myName">
        <p>
            Saba Ruhee Jagirdar <br>
            <img src="static/b.jpg" width="150" height="150">
        </p>  
        <a href="/" target="_self">~~~HOMEPAGE~~~</a>
        <br/>
    </section>

    <section>   
        <form action="/pictureAdded" method="post">
            <input type="file" placeholder="Upload profile picture" name="image">
            <input type="submit" name="Submit">
        </form>
    </section>
    
    {% if onSuccess %}
        {{ onSuccess }}
    {% endif %}

    {% if onFailure %}
        {{ onFailure }}
    {% endif %}

</body>
</html>