<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <title>Project</title>
</head>
<body>
    
    <section>
        <p class="myName">
            Saba Ruhee Jagirdar <br>
            <!-- <img src="static/b.jpg" width="150" height="150"> -->
        </p> 
        <br/> 
        <a href="/" target="_self">~~~HOMEPAGE~~~</a>
        <br/>
    </section>
    <form action="/imageUploaded" method="post">
        <input type="text" placeholder="Upload profile picture" name="image">
        <input type="submit" name="Submit">
    </form>

    {% if onSuccess %}
        {{ onSuccess }}
    {% endif %}

    {% if onFailure %}
        {{ onFailure }}
    {% endif %}

</body>