<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <title>Project-1</title>
</head>
<body>
    <section class="myName">
        <p>
            Saba Ruhee Jagirdar <br>
            <img src="static/b.jpg" width="150" height="150">
        </p>  
        <a href="/" target="_self">~~~HOMEPAGE~~~</a>
        <br/>
    </section>
    <!-- COMMON -->
    <form action="/resultImage" method="post">
        <input type="text" placeholder="Enter the name to be searched" name="searchName">
        <input type="submit" name="Submit">
    </form>

    {% if onSuccess %}
        {{ onSuccess }}
        <table>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Salary</th>
                <th>Grade</th>
                <th>Room</th>
                <th>Telnum</th>
                <th>Picture</th>
                <th>Keywords</th>
            </tr>
            {% for perEntry in allRecords %}
            <tr>
                <td>{{perEntry['name']}}</td>
                <td>{{perEntry['state']}}</td>
                <td>{{perEntry['salary']}}</td>
                <td>{{perEntry['grade']}}</td>
                <td>{{perEntry['room']}}</td>
                <td>{{perEntry['telnum']}}</td>
                <td><img src="{{perEntry['picture']}}" alt="Not Found" width="80" height="80"></td>
                <!-- <td>{{perEntry['picture']}}</td> -->
                <td>{{perEntry['keyword']}}</td>
            </tr>
            {% endfor %}
        </table>
        
    {% endif %}

    {% if onFailure %}
        {{ onFailure }}
    {% endif %}

</body>
</html>