<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <title>Q2-StopWordmatch</title>
</head>
<body>
    <section class="myName">
        <p>
            Saba Ruhee Jagirdar <br>
        </p>  
        <a href="/" target="_self">~~~HOMEPAGE~~~</a>
        <br/>
    </section>
    <!-- COMMON -->

    <h3><i>Count the number of stop words in the text</i></h3>

    <!-- <form action="/on_q1_FrequentWords" method="post">
        <input type="text" placeholder="Enter the frequent number" name="frequentNum">
        <input type="submit" name="Submit">
    </form> -->
    
    {% if onSuccess %}
        Following are stopwords with corresponding values
        {% for key, value in finalDict.items() %}
            {% if value is string %}
                <p>{{ key }} appears '{{ value }}' times.</p>
            {% else %}
                <p>{{ key }} appears {{ value }} times.</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    
</body>
</html>