<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <section class="myName">
        <p>
            Saba Ruhee Jagirdar <br> 
            <img src="static/b.jpg" width="150" height="150">
        </p>  
        <a href="/" target="_self">~~~HOMEPAGE~~~</a>
    </section>
    <!-- COMMON --> 
    
</body>