<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <section class="myName">
        <p>
            Saba Ruhee Jagirdar <br>
            <img src="static/b.jpg" width="150" height="150">
        </p>  
        <a href="/" target="_self">~~~HOMEPAGE~~~</a>
    </section>
    <!-- COMMON --> 
    <form action="/on_q21_mockQuiz" method="post">
        <input type="text" placeholder="Enter the String" name="textEntered">
        <input type="submit" name="Submit">
    </form>
    <br>

    
    <br>
    <table>
        <tr>
            <th>Total Count</th>
            <th>Total Characters</th>
            <th>Total Digits</th>
            <th>Total Spaces</th>
            <th>Total Punctuations</th>
        </tr>
        <tr>
            <td>{{totalwords}}</td>
            <td>{{totalChar}}</td>
            <td>{{totalDig}}</td>
            <td>{{totalSpaces}}</td>
            <td>{{totalPunctuation}}</td>
        </tr>
        
    </table>
        

    <div id="piechart" style="width: 1100px; height: 600px;"></div>

    {% if onSuccess %}
    {{ a1 }}
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
  
          var data = google.visualization.arrayToDataTable([
          ['Char', 'Freq'],
          {% for key, value in a1.items() %}
            {% if value is string %}
                [ '{{ key }}', '{{ value }}'],
            {% else %}
                ['{{ key }}', {{ value }}],
            {% endif %}
          {% endfor %}
        ]);
  
          var options = {
            title: 'Char Frequency'
          };
  
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  
          chart.draw(data, options);
        }
      </script>

    {% endif %}
</body>
</html>