<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <section class="myName">
        <p>
            Saba Ruhee Jagirdar <br>
            <img src="static/b.jpg" width="150" height="150">
        </p>  
        <a href="/" target="_self">~~~HOMEPAGE~~~</a>
    </section>
    <!-- COMMON --> 

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <h3>
        Scatter Plot Succesfull
   </h3>
    
    {% if onFailure %}
        {{ onFailure }}
    {% endif %}
    
    {% if onSuccess %}
    
        <script>
            google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        //   ['Age', 'Weight'],
        //   [ 8,      12],
          ['X', 'Y', { role: 'style' }],
          {% for perRow in a1 %}

          [ {{ perRow[0] }}, {{ perRow[1]}}, 'red'],
          {% endfor %}
        ]);

        

        var options = {
          title: 'X vs. Y',
          hAxis: {title: 'X', minValue: 0, maxValue: 15, titleTextStyle: {bold: true, fontSize: 20}},
          vAxis: {title: 'Y', minValue: 0, maxValue: 15, titleTextStyle: {bold: true, fontSize: 20}},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
        </script>

        {% endif %}       

</body>
</html>

