body{
    background-color: rgb(182, 203, 183);
    font-size: 14px;
}
body.homePage{
    background-color: rgb(147, 161, 202);
}
h1, h2, h3{
    color: black;
}
image{
    height: 100px;
    width: 100px;
}
section.myName p{
    text-align: center;
    font-size: 20px;
    color: #392274;
    margin-bottom: 20px;
}
section.myName a{
    color: azure;
    margin-bottom: 20px;
    display: block;
}


input{
    font-size: 18px;
}
input[type="submit"]{
    background-color: green;
    border-radius: 5%;
    color: white;
}

table, th, td{
    border: 1px solid;
}

/* Common */
